<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Pay Bills</h4>
      </div>
      <div class="content">
        <ul class="nav payments">
          <li [ngClass]="{'active': credit}" (click)="Payments('credit')"><p>Pay using Credit Card</p></li>
          <li [ngClass]="{'active': !credit}" (click)="Payments('id')"><p>Pay on behalf of another user</p></li>
        </ul>
        <div *ngIf="credit">
          <form ngNativeValidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Card Number</label>
                  <input type="text" class="form-control border-input" placeholder="xxxx-xxxx-xx" value="" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Card Holder Name</label>
                  <input type="text" class="form-control border-input" placeholder="" value="" required>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Expiry Date</label>
                  <input type="text" class="form-control border-input" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" placeholder="mm/dd/yyyy" value="" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>CVV</label>
                  <input type="text" class="form-control border-input" pattern="" placeholder="xxx" value="" required>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div *ngIf="!credit">
          <form ngNativeValidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Transaction ID</label>
                  <input type="text" class="form-control border-input" placeholder="" value="" required>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
