

<div class="wrapper">

    <!-- Sidebar starts -->
    <div class="sidebar" data-background-color="white" data-active-color="info">

      <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text logo-normal">
                G6 Bank
            </a>
        </div>

        <ul class="nav">
          <li role="presentation" [ngClass]="{'active': router.url.includes('/user-profile')}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/user-profile']" (click)="tabsClick('user-profile')"><p>User Profile</p></a>
          </li>

          <li role="presentation" [ngClass]="{'active': router.url.includes('/create-account')}" routerLinkActive="active">
            <a [routerLink]="['/create-account']" (click)="tabsClick('create-account')"><p>Create Accounts</p></a>
          </li>

          <li role="presentation" [ngClass]="{'active': router.url.includes('/view-accounts')}" routerLinkActive="active">
            <a [routerLink]="['/view-accounts']" (click)="tabsClick('view-accounts')"><p>View Accounts</p></a>
          </li>

          <li role="presentation" [ngClass]="{'active': router.url.includes('/authorize')}" routerLinkActive="active">
            <a [routerLink]="['/authorize']" (click)="tabsClick('authorize')"><p>Authorization Requests</p></a>
          </li>

          <li role="presentation" [ngClass]="{'active': router.url.includes('/log-file')}" routerLinkActive="active">
            <a [routerLink]="['/log-file']" (click)="tabsClick('log-file')"><p>Log File</p></a>
          </li>
        </ul>

      </div>
    </div>
    <!-- Sidebar ends -->

    <!-- Page Content starts -->
    <div class="main-panel">
      <!-- Top Navbar starts -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar bar1"></span>
                  <span class="icon-bar bar2"></span>
                  <span class="icon-bar bar3"></span>
              </button>
              <p class="navbar-brand">Welcome, "Name"!</p>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">

                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-bell"></i>
                          <p class="notification">"Count of notifications"</p>
        									<p>Notifications</p>
        									<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Notification 1</a></li>
                          <li><a href="#">Notification 2</a></li>
                          <li><a href="#">Notification 3</a></li>
                          <li><a href="#">Notification 4</a></li>
                          <li><a href="#">Another notification</a></li> <!-- Do we want to keep this as a dropdown? -->
                        </ul>
                  </li>
                  <li>
                    <a href="#">
      								<i class="ti-settings"></i> <!-- Change the icon -->
      								<p>Logout</p>
                    </a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>
      <!-- Top Navbar ends -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <app-create-account *ngIf="toDisplay === 'create-account'"></app-create-account>
          <app-view-accounts *ngIf="toDisplay === 'view-accounts'"></app-view-accounts>
          <app-authorize *ngIf="toDisplay === 'authorize'"></app-authorize>
          <app-log-file *ngIf="toDisplay === 'log-file'"></app-log-file>
          <app-user-profile *ngIf="toDisplay === 'user-profile'"></app-user-profile>
        </div>
      </div>
      <!-- End of Main content -->
    </div>
    <!-- End of Page Content -->
</div>
<!--End of Main content -->




<!-- Useful code for the future
<li>
  <a data-toggle="collapse" href="#dashboardOverview">
    <i class="ti-panel"></i>
    <p>Dashboard
      <b class="caret"></b>
    </p>
  </a>
  <div class="collapse" id="dashboardOverview">
    <ul class="nav">
      <li>
        <a [routerLink]="['/user-profile']" (click)="tabsClick('user-profile')">
          <span class="sidebar-mini">O</span>
          <span class="sidebar-normal">Overview</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/user-profile']" (click)="tabsClick('user-profile')">
          <span class="sidebar-mini">S</span>
          <span class="sidebar-normal">Stats</span>
        </a>
      </li>
    </ul>
  </div>
</li> -->
