

<div class="wrapper">

  <!-- Sidebar starts -->
  <div class="sidebar" data-background-color="white" data-active-color="danger">

    <div class="sidebar-wrapper">
      <div class="logo">
        <a>
          G6 Bank
        </a>
      </div>

      <ul class="nav">
        <li role="presentation" [ngClass]="{'active': router.url.includes('/dashboard')}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dashboard']" (click)="tabsClick('dashboard')">Dashboard</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/account')}" routerLinkActive="active">
          <a [routerLink]="['/account']" (click)="tabsClick('account')">Account</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/profile')}" routerLinkActive="active">
          <a [routerLink]="['/profile']" (click)="tabsClick('profile')">User Profile</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/transfer')}" routerLinkActive="active">
          <a [routerLink]="['/transfer']" (click)="tabsClick('transfer')">Transfer Funds</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/payment')}" routerLinkActive="active">
          <a [routerLink]="['/payment']" (click)="tabsClick('payment')">Payment</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/requests')}" routerLinkActive="active">
          <a [routerLink]="['/requests']" (click)="tabsClick('requests')">Requests</a>
        </li>
        <li role="presentation" [ngClass]="{'active': router.url.includes('/statement')}" routerLinkActive="active">
          <a [routerLink]="['/statement']" (click)="tabsClick('statement')">Bank Statement</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Sidebar ends -->

  <!-- Page Content starts -->
  <div class="main-panel">
    <!-- Top Navbar starts -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <p class="navbar-brand">Welcome, "Name"!</p>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-bell"></i>
                <p class="notification">"Count of notifications"</p>
                <p>Notifications</p>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li> <!-- Do we want to keep this as a dropdown? -->
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="ti-settings"></i> <!-- Change the icon -->
                <p>Logout</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Top Navbar ends -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <app-dashboard *ngIf="toDisplay === 'dashboard'"></app-dashboard>
        <app-account *ngIf="toDisplay === 'account'"></app-account>
        <app-payment *ngIf="toDisplay === 'payment'"></app-payment>
        <app-profile *ngIf="toDisplay === 'profile'"></app-profile>
        <app-requests *ngIf="toDisplay === 'requests'"></app-requests>
        <app-statement *ngIf="toDisplay === 'statement'"></app-statement>
        <app-transfer *ngIf="toDisplay === 'transfer'"></app-transfer>
      </div>
    </div>
    <!-- End of Main content -->
  </div>
  <!-- End of Page Content -->
</div>
<!--End of Main content -->


<!--<div class="container content">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-3 col-lg-3 col-md-3">-->
      <!--<div class="navbar navbar-fixed-left">-->
        <!--<p style="font-size: 600%" class="bank">G6</p>-->
        <!--<p style="font-size: 500%" class="bank">Bank</p>-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/dashboard')}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
            <!--<a [routerLink]="['/dashboard']" (click)="tabsClick('dashboard')">Dashboard</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/account')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/account']" (click)="tabsClick('account')">Account</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/profile')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/profile']" (click)="tabsClick('profile')">User Profile</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/transfer')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/transfer']" (click)="tabsClick('transfer')">Transfer Funds</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/payment')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/payment']" (click)="tabsClick('payment')">Payment</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/requests')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/requests']" (click)="tabsClick('requests')">Requests</a>-->
          <!--</li>-->
          <!--<li role="presentation" [ngClass]="{'active': router.url.includes('/statement')}" routerLinkActive="active">-->
            <!--<a [routerLink]="['/statement']" (click)="tabsClick('statement')">Bank Statement</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-9 col-lg-9 col-md-9 tab-data">-->
      <!--<app-dashboard *ngIf="toDisplay === 'dashboard'"></app-dashboard>-->
      <!--<app-account *ngIf="toDisplay === 'account'"></app-account>-->
      <!--<app-payment *ngIf="toDisplay === 'payment'"></app-payment>-->
      <!--<app-profile *ngIf="toDisplay === 'profile'"></app-profile>-->
      <!--<app-requests *ngIf="toDisplay === 'requests'"></app-requests>-->
      <!--<app-statement *ngIf="toDisplay === 'statement'"></app-statement>-->
      <!--<app-transfer *ngIf="toDisplay === 'transfer'"></app-transfer>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
